.wrap_writing {
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    height: fit-content;
    padding: 50px;
    box-shadow: inset 0 0 0 5000px rgba(0, 0, 0, 0.4);
}

.writing_content p {
    color: #ffff;
    font-weight: 600;
}

html {
    overflow: scroll;
    overflow-x: hidden;
}

::-webkit-scrollbar {
    width: 0;
    /* Remove scrollbar space */
    background: transparent;
    /* Optional: just make scrollbar invisible */
}


/* Optional: show position indicator in red */

::-webkit-scrollbar-thumb {
    background: #FF0000;
}

.writing_content textarea {
    width: 35rem;
    height: 20rem;
    background-color: transparent;
    font-weight: 500;
    padding: 20px;
    color: #ffff;
    font-weight: 600;
    outline: none;
    border: 1px solid #ffff;
    overflow-y: scroll;
}

.writing_content textarea::placeholder {
    font-weight: 600;
    color: #ffff;
    text-indent: 10px;
}

.btn_wrap_writing {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.btn_wrap_writing button {
    border: 1px solid #ffff;
    color: #ffff;
    width: 7rem;
}

.btn_wrap_writing button:hover {
    background-color: #ffff;
    color: #111;
    font-weight: 600;
    letter-spacing: 2px;
}

.timer {
    color: #ffff;
    font-weight: 600;
    letter-spacing: 3px;
    font-size: 1.5rem;
    margin: 1rem 0 1rem 0;
}

.summary_wrap {
    display: flex;
    justify-content: center;
    align-items: center;
}

.summary {
    width: 30rem;
    height: 29rem;
    padding: 20px;
    color: #ffff;
    box-shadow: inset 0 0 0 5000px rgba(0, 0, 0, 0.4);
    margin-left: 5rem;
    border: 1px solid #ffff;
    overflow-y: scroll;
}

.summary h1 {
    font-weight: 500;
    letter-spacing: 3px;
    text-align: center;
    border-bottom: 1px solid #ffff;
}

.btn_wrap_writing p {
    margin-top: 1rem;
}

@media(max-width:768px) {
    .writing_content textarea {
        width: 20rem;
        height: 10rem;
    }
}

@media(max-width:1100px) {
    * {
        overflow-y: scroll;
    }
    .summary_wrap {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .summary {
        margin-top: 2rem;
    }
}